{{ define "login" }}
    {{ template "header" }}
    <div style="min-height:calc(100vh - 112px);">
        Это манагер
    </div>
    {{ template "footer" }}
    </body>
    </html>

    <style>
        body {
            background: lightslategrey;
        }

        .block {
            margin: 2% 35%;
            border: #1a202c
        }
    </style>
{{ end }}
